@charset "ISO-8859-1";

@media (min-width: 992px){

}
.h1, h1 {
    font-size: 54.93px;
}
.h1, h1, h2, h3, h4, h5, h6 {
    font-family: Verlag,museo-sans,'Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #414141;
}
.h1,  h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}
#content {
    background-position: right bottom;
    background-repeat: no-repeat;
}

#highlighted+#content.interior-page .interior-page-nav {
    margin-top: -4em;
}
#highlighted+#content.interior-page .interior-page-nav, .interior-page .interior-page-nav {
    padding-left: 0;
}
.sidebar {
    margin-top: 2em;
}
.div1 {
	width: 300px;
  height: 100px;
  
  }
 .item1 {
  grid-row: 1 / span 2;
  width: 300px;
  height: 100px;
}





.btn-primary {
    position:center;
    text-align: center;
    color: #fff;
    background-color: #DC143C;
    border-color: #ea3e10;
    width: 300px;
}
.btn-block {
	 position:center;
    text-align: center;
    display: block;
}
.btn {
    padding: 8px 28px;
    font-weight: 400;
    -webkit-transition: background .3s ease-in;
    transition: background .3s ease-in;
    white-space: normal;
    border-width: 0 0 1px;
     position:center;
    text-align: center;
}
