@font-face{font-family:'Conv_Helvetica-Neue-Bold';src:url(fonts/Helvetica-Neue-Bold.eot);src:local(☺),url(fonts/Helvetica-Neue-Bold.woff) format("woff"),url(fonts/Helvetica-Neue-Bold.ttf) format("truetype"),url(fonts/Helvetica-Neue-Bold.svg) format("svg");font-weight:400;font-style:normal}

@font-face{font-family:'Conv_HELVETICANEUE-LIGHT'; src:url(fonts/HELVETICANEUE-LIGHT.eot);src:local(☺),url(fonts/HELVETICANEUE-LIGHT.ttf) format("truetype"),url(fonts/HELVETICANEUE-LIGHT.svg) format("svg");font-weight:400;font-style:normal}

@font-face { font-family: 'HelveticaNeue'; src: url('fonts/HelveticaNeue.woff') format('woff'),url('fonts/HelveticaNeue.ttf') format('truetype'),url('fonts/HelveticaNeue.svg#HelveticaNeue') format('svg');font-weight: normal;font-style: normal;}
body{overflow-x:hidden;overflow-y:auto;} img{max-width:100%;}
html,body,div,section,article,aside,header,hgroup,footer,nav,h1,h2,h3,h4,h5,h6,p,blockquote,address,time,span,em,strong,img,ol,ul,li,figure,canvas,video,input,select{border:0 none;margin:0;padding:0}body{background:#fff;color:#666666;font-size:16px;font-family:Conv_HELVETICANEUE-LIGHT,Arial}.container{height:100%;width:100%}input,textarea,select{outline:none}a{outline:0 none;text-decoration:none}a:hover,a:focus{text-decoration:none;outline:none}input{outline:none} article,aside,canvas,details,figcaption,figure,footer,header,hgroup,nav,menu,nav,section,summary{display:block}ul{list-style:none;margin:0;padding:0} #preloader{background:#fff url(../images/preloader-white.gif) no-repeat center; width:100%; height:100%; position:fixed; left:0px; top:0px; z-index:1031;}
header.masthead{padding-top:9rem;padding-bottom:calc(8rem - 53px);background-image:url(../images/chate.jpeg);background-position:center center;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover; display:block; background-color:#01509d}
.bannerContent{background-color:#fff; width:100%; max-width:515px; padding:20px}
.bannerContent h4{ font-size:22px; color:#333; border-top:1px solid #333; padding-top:15px}
.red-btn{ background-color:#ed1c24; color:#fff; text-transform:uppercase; border:1px solid #ed1c24; font-family:'HelveticaNeue'; font-size:14px; padding:10px 50px; border-radius:4px}
.red-btn:hover{color:#fff;}
.navbar-header{width:100%}
.navbar {min-height: 40px;background: #ffffff; border-bottom:1px solid #c1c4c1; padding: .1rem 0rem;  box-shadow:0px 1px 4px #ccc;}
.navbar-brand {padding: 10px 0px;}
.navbar-toggle { border-color: #ffffff; display: none; }
.navbar-toggle {background-color: rgba(0, 0, 0, 0); background-image: none; border: 1px solid rgba(0, 0, 0, 0); border-radius: 4px; float: right; margin-bottom: 8px; margin-right: 0px; margin-top: 8px; padding: 9px 10px; position: relative; cursor: pointer; }
.navbar-toggle .icon-bar { border-radius: 1px; display: block; height: 2px; width: 22px; }
.navbar-toggle .icon-bar { background-color: #004A8F; }
.navbar-toggle .icon-bar + .icon-bar { margin-top: 4px; } 
/*.navbar-toggle:focus .icon-bar, .navbar-toggle:hover .icon-bar { background-color: #fff; }*/
.navbar-toggle:focus, .navbar-toggle:hover { background-color: #f9f9f9; border-color: #004A8F; }
.rightMenu{float: right;display: block; text-align:right; margin-top:5px}
.menu li{float: left; text-align: center;}
.menu li a{display: block; padding: 10px 2px;border-bottom: 3px solid #fff; font-family: 'helv_lgt',arial; color: #333; margin-left: 20px;font-size:14px;}
.menu li.active a, .menu li:hover a{color: #004a8f; border-bottom-color: #004a8f; text-decoration:none;}
h5{font-size:17px; color:#828485;font-family:'Conv_Helvetica-Neue-Bold'; font-style:italic; text-align:center;margin-bottom:10px;}
h4{font-size:18px}
.footer{ color:#ffffff;padding:18px 0; text-align: center; background-color:#004a8f; font-size:12px}
section{padding:60px 0px}
.greybg{background-color:#f6f7f6}
.bluebg{background-color:#196cba}
a{ color:#196cba}
h1{font-size:32px; color:#333333}
h3{font-size:20px; color:#242223}
p{text-align:center; margin:10px 0px; font-family: 'HelveticaNeue'; color:#666666;}
.white{color:#ffffff}
.bold{font-family:'Conv_Helvetica-Neue-Bold'; font-weight:100}
.greycolor{color:#666}
.about-sec{}
.about-sec p.blueitalic{color:#004a8f; font-style:italic; font-weight:700}
.boxbb{ text-align:center; font-family: 'Conv_HELVETICANEUE-LIGHT'; line-height:19px; font-size:15px; margin-bottom:20px; background-color:#ffffff; padding:20px 10px;  color:#242223;}
.boxbb img{ padding:10px 0px}
.bignum{}
.bignum p{ text-align:left; clear:both; padding-left:30px; padding-top:5px; padding-bottom:15px; color:#666666;}
.bignum p.one{ background:url(../images/one.png) no-repeat left top;}
.bignum p.two{ background:url(../images/two.png) no-repeat left top;}
.bignum p.three{ background:url(../images/three.png) no-repeat left top;}

.col_btn { margin-top: 2%;padding: 0px 40px; margin-bottom:0px;color: #004a8f;cursor: pointer; font-size:15px}
.link{color:#196cba; border-bottom:2px solid #196cba;transition: all 0.1s ease }
.link:hover{border-bottom:3px solid #196cba; }
.card{border:none; border-bottom:1px solid #d4d6d4; border-radius:0px; }
.card-header{ border:none; color:#333; font-size:20px; }
.card-header h5{ border:none; color:#333; font-size:20px; text-align:left}
.card-header .btn-link{color:#333; font-size:20px; text-align:left; display:block; width:100%;font-family: 'Conv_HELVETICANEUE-LIGHT',Arial; white-space: normal; padding: 0;}
.card-header .btn-link:before {float: right !important;content:"-"; padding-right: 5px;font-weight:bold; padding-left: 10px;}
.card-header .btn-link.collapsed:before {float: right !important;content:"+";padding-right: 5px;font-weight:bold; padding-left: 10px;}
.card-header .btn-link:hover, .btn-link:active, .btn-link:focus  {text-decoration:none;}
.upborder{border-top: 1px solid #d4d6d4;}



.card-body{ background-color:#f6f7f6} #accordion .card-body{padding: 0.25rem 1.25rem 1.25rem 1.25rem;}
.plus{float:right; font-size:22px; color:#666}
.dropdownicon{ position:absolute; top:64px; width:30px; height:18px; background:url(../images/pointer.png) no-repeat center center;}
.padleft1{ margin-left:15%;}
.padleft2{ margin-left:46%;}
.padleft3{ margin-left:79%;}
.flatin{display:none; padding-bottom:0px}
.nav-link{ font-size:16px; color:#333333;font-family:'Conv_Helvetica-Neue-Bold';}
.nav-link.active{ font-size:16px; color:#333333;}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{background-color:#f6f7f6; color:#004a8f; border:2px solid #004a8f;}
.tab-content{ border-top:2px solid #adafad; padding:20px 0px; margin-top:20px}
.showinmob{ display:none}
.fbox{ box-shadow:0px 0px 5px #ccc; min-height:270px; border-radius:4px}
.f22b{font-weight:700; font-size:22px}

.timeline {list-style: none;padding: 20px 0 20px;position: relative;}
.timeline:before {top: 60px;bottom: 40px;position: absolute;content: " ";width: 3px;background-color: #d5d5d5;left:100px;margin-left: -1.5px;}
.timeline > li {margin-bottom: 20px;position: relative;}
.timeline > li:before,.timeline > li:after {content: " ";display: table;}
.timeline > li:after {clear: both;}
.timeline > li:before,.timeline > li:after {content: " ";display: table;}
.timeline > li:after {clear: both;}
.timeline > li > .timeline-panel {width: calc(100% - 130px);float: left;border-radius: 2px;padding: 20px;position: relative;-webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.175);box-shadow: 0 0px 3px rgba(0, 0, 0, 0.175); background-color:#fff;}
.timeline > li > .timeline-panel:before {position: absolute;top: 26px;right: -15px;display: inline-block;border-top: 15px solid transparent;border-left: 15px solid #ccc;border-right: 0 solid #ccc;border-bottom: 15px solid transparent;content: " ";}
.timeline > li > .timeline-panel:after {position: absolute;top: 27px;right: -14px;display: inline-block;border-top: 14px solid transparent;border-left: 14px solid #fff;border-right: 0 solid #fff;border-bottom: 14px solid transparent;content: " ";}
.timeline > li > .timeline-badge {color: #fff;width: 10px;height: 10px;line-height: 10px;font-size: 1.4em;text-align: center;position: absolute;
top: 36px;left:100px;margin-left: -5px;background-color: #004a8f;z-index: 100;border-top-right-radius: 50%;border-top-left-radius: 50%;border-bottom-right-radius: 50%;border-bottom-left-radius: 50%;}
.timeline > li.timeline-inverted > .timeline-panel {float: right;}
.timeline > li.timeline-inverted > .timeline-panel:before {border-left-width: 0;border-right-width: 15px;left: -15px;right: auto;}
.timeline > li.timeline-inverted > .timeline-panel:after {border-left-width: 0;border-right-width: 14px;left: -14px;right: auto;}
.timeline-badge.primary {background-color: #2e6da4 !important;}
.timeline-badge.success {background-color: #3f903f !important;}
.timeline-badge.warning {background-color: #f0ad4e !important;}
.timeline-badge.danger {background-color: #d9534f !important;}
.timeline-badge.info {background-color: #5bc0de !important;}
.timeline-title {margin-top: 20px;color: inherit; color:#333333; font-size:16px; max-width:70px; text-align:center; position:absolute;font-weight:700}
.timeline-body > p,.timeline-body > ul {margin-bottom: 0; font-size:16px; text-align:justify; }
.timeline-body > p + p {margin-top: 5px;}
.noborder{ border:none }

.boxbbb{ text-align:center; font-family: 'Conv_HELVETICANEUE-LIGHT'; line-height:19px; font-size:15px; margin-bottom:20px; padding:20px 10px;  color:#242223;}
.boxbbb p{ font-weight:700}


@-webkit-keyframes blink { 0% {opacity:1;} 50% {opacity:0;} 100% {opacity:1;}}

@media (max-width: 1200px){
}
/*ipad - both*/
@media (min-width: 768px) and (max-width: 1023px){
	header.masthead{padding-top:21rem;padding-bottom:calc(13rem - 130px);background-image:url(../images/mobile-banner.jpg);background-position:center center;}
	.vmobile{display:block;}
rightMenu{display: none;}
.navbar-toggle{display: block;} 
.menu li{width: 100%; float: none; text-align: left;} 
.menu li a{margin: 0; padding: 10px; border: 0;} 
.menu li.active a, .menu li:hover a{border:0; color: #666666;}
.rightMenu { float: none; left: 0; margin: 0; position: absolute; top: 50px; width: 100%; z-index: 10; background:#ffffff; display:none}
.navbar-toggle{display: block;}
.navbar .container{ margin:0px; }
.nopadmob{padding-left:10px !important; padding-right:20px !important}
.bannerContent { max-width: 100%;}
.bannerContent h4{font-size:18px}
.flatinmob{visibility:hidden}
.flatin{display:block; padding:0px}
.fbox{min-height:333px;}
} 
/*ipad - landscape*/
@media (min-width: 1920px) and (max-width: 1920px) and (orientation: landscape){
 header.masthead{padding-top:50rem;padding-bottom:calc(6rem - 56px);background-image:url(../images/chate.jpeg);background-position:center center;}  
}
/*ipad - portrait*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait), only screen and (min-width: 768px) and (max-width: 900px){
    
}
/*all mobiles & small tabs*/
@media (max-width: 767px){
header.masthead{padding-top:4rem;padding-bottom:calc(14rem - 177px);background-image:url(../images/mobile-banner.jpg);background-position:center center;}
.vmobile{display:block;}
rightMenu{display: none;}
.navbar-toggle{display: block;} 
.logo{width: 170px; float: left;} 
.link_table, .smartbox .link{visibility: visible;} 
.menu li{width: 100%; float: none; text-align: left;} 
.menu li a{margin: 0; padding: 10px; border: 0;} 
.menu li.active a, .menu li:hover a{border:0; color: #666666;}
.rightMenu { float: none; left: 0; margin: 0; position: absolute; top: 50px; width: 100%; z-index: 10; background:#ffffff; display:none}
.navbar-toggle{display: block;}
.navbar .container{ margin:0px; }
.showinmob{ display:block}
.hideinmob{ display:none}
.dropdownicon{display:none}
.card-header {padding:10px 0px;}
.card-header .btn-link{font-size:16px; padding:5px 0px 5px 0px}
.nopadmob{padding-left:10px !important; padding-right:20px !important}
.bannerContent { max-width: 100%;}
.bannerContent h4{font-size:16px}
.flatinmob{visibility:hidden}
.flatin{display:block; padding:0px}

}
@media (max-width: 767px){
}

@media (max-width: 480px){
	a.masthead{padding-top:10rem;padding-bottom:calc(10rem - 40px);}
	}
.center {
	display: block;
  	margin-left: 1000;
  	margin-right: 1000;
  	width: 50%;
}
.col-md-6.red-box {
	    max-width: 49%!important;
	    -ms-flex: 0 0 49%!important;
	    flex: 0 0 49%!important;
	}
.red-content {
    /* height: 70%;
    min-height: 364px; */
    padding: 5%;
	/* background: #e53935; */
    color: #fff;
    display:flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content:center;
    align-items:center;
}
.red-box{background: #e53935;}
@media (min-width: 768px){
	.col-md-6.red-box{
		max-width:48.8%;
		-ms-flex: 0 0 48.8%;
    	flex: 0 0 48.8%;
    }
    .col-md-4.red-box{
		max-width:32%;
		-ms-flex: 0 0 32%;
    	flex: 0 0 32%;
    }
    .alert-box-border{
	    border-right: 2px solid #1b588e !important;
	    border-left: 2px solid #1b588e !important;
	    border-top: 2px solid #1b588e !important;
	}
	/* .alert-box-border img {
	    width: 0.5em;
	} */
	.alert-box-border h6 {
	    font-size: 0.75rem;
	    font-weight: bold;
	}
}
@media (max-device-width: 767px){
	.red-box{margin-top:5px;width:93%;margin-left:auto;margin-right:auto;}
}
@media (max-width: 320px){
	.red-box{margin-top:5px;}
	/* .special-menu li a{padding:0 5px!important;line-height:2.5rem!important;} */
}
.red-content h3 {
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    color: #FFF;
    padding: 1.0em 2.0em;
}
.destinations .red-content {
  height: auto;
}
@media (max-width: 767px){
	.red-block-class.col-sm-4, .slider-class.col-sm-8, .tax-class.col-sm-8, .alert-class.col-sm-4{
		-ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	    max-width: 100%;
	   
	}
	.slider-class.col-sm-8{
	 	padding-left:0!important;
	    padding-right:0!important;
	}
	.box-title{
		padding: 10px;
	}
	.tab-ticket.ticker-wrapper {
	    margin: 0px 0 30px 0!important;
	    min-height: 80px!important;
	}
}
@media (min-width: 1366px){
	.modal-dialog {
	    max-width: 800px;
	    margin: 1.75rem auto;
	}
}

@media (min-width: 1600px) and (max-width:1919px){
	.container{
		max-width:1300px;
	}
	.alert-box-border .mr-1{
		margin:0.5em!important;
	}
}
.fa, .fab, .fal, .far, .fas {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-weight: 900
}
.page-title-bg {
    background-color: #1b588e;
    color: #FFF;
    padding: 10px;
    border-bottom: 5px solid #E23B39;
}
.login-box {
    background-color: #ECECEC;
    padding: 2em;
    border-radius: 0 0 10px 10px;
}
.login-box p
{
	font-size:13px;
}
.login-box a
{
	color:#337ab7;
}
.login-box label, .login-box input {
    margin-bottom: 10px;
    border: none;
    line-height: normal;
    border-radius: 5px;
/*	width: 355px; */
}
